<h1>Confirm your email</h1>

Hello <%= @user.email =%><br>

Click the link <a href="<%= @url %>"><%= @url %></a> to confirm your email. The link will expire automatically in 30 days

<p>
  <%= @greeting %>, KKKKKKK
</p>
